<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="changeSheetText" value="If you want to change your sheet, open the excel file, select the new one and save the file."/>
    <add key="excelReadyText" value="Excel file opended and ready for trasformation."/>
    <add key="sheetText1" value="File Selected, sheet "/>
    <add key="sheetText2" value=" active and selected."/>
    <add key="workingText" value="Working..."/>
    <add key="finishText" value="You can copy your XML content or save it into a XML file."/>
    <add key="errorText" value="Error in trasformation!!!"/>
    <add key="saveFileText1" value="File "/>
    <add key="saveFileText2" value=".XML Saved."/>
    <add key="saveFileText3" value=".TXT Saved."/>
    
    <add key="importNameFile" value="document.xml"/>
    <add key="fluxNameFile" value="documentFlux.xml"/>
    <add key="txtNameFile" value="txtFlux.txt"/>

    <add key="notEntity1Exception" value="La donnée "/>
    <add key="notEntity2Exception" value=" n'a pas une entité associée. Veuillez corriger le fichier Excel."/>
    
  </appSettings>  
</configuration>